@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins", Arial, sans-serif;
}

a {
  text-decoration: none;
}

:root {
  --navdark: #36383f;
  --primary: #0d6efd;
  --secondary: #616161;
  --success: #22c55e;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #3b82f6;
  --white: #fff;
  --light: #f8f9fa;
  --dark: #343a40;
  --btnborder-radius: 6px;
}

.test {
  font-family: "Poppins";
}
.test2 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.test3 {
  font-family: "Open Sans";
}

h1 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: var(--info);
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

/* Container */
.container {
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
}
@media only screen and (min-width: 769px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
}

/* productCard */

.product {
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.product .content {
  padding: 5px;
}

.product .coverimg {
  width: 100vw;
}
.coverimg > img {
  width: 100vw;
  height: 40vw;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .product {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 25vw;
    margin: 10px auto;
  }
  .product .content {
    width: 30vw;
    padding-left: 10px;
  }
  .product .coverimg {
    width: 30vw;

    background-color: #616161;
  }
  .coverimg > img {
    width: 30vw;
    height: 25vw;
    object-fit: cover;
  }
}

/* Button  */
button {
  margin: 10px 0;
  font-family: Roboto, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont;
  font-weight: 600;
  color: #ffffff;
  background: var(--info);
  border: 1px solid var(--info);
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 6px;
  box-sizing: border-box;
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
}

/* Select */
select {
  width: 100%;
  display: block;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  padding: 0.75rem 1.25rem;
  border: 1px solid var(--info);
  font: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%),
    linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: right 15px top 1em, right 11px top 1em;
  background-size: 5px 5px, 5px 5px;
}



label:not(.hamb) {
  display: block;
  font-family: Roboto, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont;
  color: var(--dark);
  font-weight: 600;
  margin: 2em 0 0 10px;
}

/* Input text */
input {
  width: 100%;
  font-weight: normal;
  font-size: 1rem;
  padding: 0.75rem 0.75rem;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 6px;
}

input:focus {
  background-color: lightblue;
}




/* Input text */
textarea {
  width: 100%;
  font-weight: normal;
  font-size: 1rem;
  padding: 0.75rem 0.75rem;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 6px;
}

textarea:focus {
  background-color: lightblue;
}



/* remove arrow */
input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Info box */
.info {
  background: rgba(76, 175, 80, 0.3);
  padding: 10px;
  margin: 20px 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: 5px solid var(--info);
  font-weight: 300;
  color: black;
}
