.navbar {
  font-family: "Poppins", sans-serif;
  position: sticky;
  top: 0;
  background-color: var(--navdark);
}

.uppernavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 20px;
}

.side-menu {
  display: none;
}

.logotitle {
  color: var(--navwhite);
  font-size: 24px;
}
.logo img {
  width: auto;
  height: 40px;
}

nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 60px;
  right: 0px;
  background-color: var(--navdark);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

nav a {
  color: var(--navwhite);
  cursor: pointer;
  line-height: 2;
  padding: 0 0px 0 40px;
  display: block;
}

.menu li .router-link-active {
  color: #000;
  background-color: var(--navactive);
  display: block;
}

nav ul {
  padding-top: 20px;
}

.hamb {
  padding: 40px 20px;
}

.hamb-line {
  background: var(--navwhite);
  display: block;
  height: 4px;
  position: relative;
  width: 30px;
}

.hamb-line::before,
.hamb-line::after {
  background: var(--navwhite);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 8px;
}

.hamb-line::after {
  top: -8px;
}

/* Toggle menu icon */

.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .uppernavbar .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .uppernavbar .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .uppernavbar .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

@media only screen and (min-width: 769px) {
  .hamb {
    display: none;
  }

  .logotitle {
    margin: 0 10px 0 10px;
  }

  .navbar .container {
    display: flex;
    justify-content: space-around;
    padding: 5px 0 5px 0;
  }
  .uppernavbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 20px 5px 20px;
  }

  nav {
    max-height: none;
    position: static;
    float: right;
    width: fit-content;
    background-color: var(--navdark);
  }

  .menu li {
    display: inline;
  }
  nav a {
    color: var(--navwhite);
    cursor: pointer;
    line-height: 2;
    margin: 0 10px 0 0px;
    padding: 0;
    display: inline;
  }

  .menu li .router-link-active {
    display: inline;
    color: var(--navwhite);
    background-color: transparent;
    border-bottom: 3px solid var(--navactive);
  }

  nav ul {
    padding-top: 10px;
  }
}
